@import 'theme';
@import 'top-stripe';
@import 'menu';
@import 'sign-in';
@import 'dashboard';
@import 'visitors';

html {
  height: 100%;

  body {
    height: 100%;

    > .ember-view {
      display: flex;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;

      .page {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: scroll;
      }
    }
  }
}
