@import 'theme';
@import 'top-stripe';
@import 'menu';
@import 'outlet';

html {
  height: 100%;

  body {
    height: 100%;

    > .ember-view {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;

      .page {
        width: auto;
        margin: 0;
        padding: 0;

        .outlet {
          width: 100%;
        }
      }
    }
  }
}
