@import 'theme';
@import 'top-menu';
@import 'side-menu';
@import 'sign-in';
@import 'home';
@import 'stats';
@import 'campaigns';
@import 'components';

html {
  height: 100%;

  body {
    height: 100%;
    background: url('/images/sign-in/background.png');

    .container-fluid {
      height: 100%;
      padding: 0;

      >.col-xs-10 {
        height: 100%;
        overflow: scroll;
        background: $color-4;
      }

      >.column {
        padding: 0;
      }
    }
  }
}
