.campaign {
  background: $color-7;
}



.campaigns-new, .campaigns-edit {
  text-align: center;
  background: $color-7;

  form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    max-width: 80%;
    height: 60%;
  }

  .campaign-segmentation {

  }

  .form-group {
    width: 100%;
  }

  .filter_title {
    width: 40%;
    text-align: right;
  }

  .filter_body {
    width: 60%;
    text-align: left;
    padding-left: 5px;
  }

  .filter_body, .filter_title {
    float: left;
    box-sizing: border-box;
  }

  .delay {
    label {
      font-weight: normal;
    }

    input {
      width: 50px;
      text-align: center;
      color: $color-2;
    }
  }
}

.campaigns {
  padding: 20px;
  text-align: center;

  .panel {
    border-color: $color-1;
    background: $color-4;

    .panel-heading {
      text-align: left;

      span {
        float: left;
        line-height: 50px;
      }

      a {
        float: right;

        &:hover {
          .fa, span {
            color: $color-3;
          }
        }
      }

      a span {
        margin-right: 5px;
        color: $color-4;
      }
    }

    thead td {
      font-family: Arial;
      font-weight: bold;
      font-size: 16px;
      color: $color-2;
    }

    td:not(.title) {
      width: 11%;
    }

    td.actions {
      >:not(:last-child) {
        margin-right: 10px;
      }

      .fa:hover {
        color: $color-1;
      }

      .fa {
        color: $color-2;
      }
    }
  }

  .fa {
    font-size: 30px;
    color: $color-4;

    &:hover {
      color: $color-3;
    }

    &.fa-plus-circle {
      font-size: 50px;
    }

    &.fa-clock-o {
      color: orange;

      &:hover {
        color: orange;
      }
    }

    &.fa-check-circle {
      color: green;

      &:hover {
        color: green;
      }
    }

    &.fa-warning {
      color: red;

      &:hover {
        color: red;
      }
    }

    &.fa-question-circle {
      color: darkred;

      &:hover {
        color: darkred;
      }
    }
  }

  table .fa.fa-trash {
    color: $color-1;
  }

  .actions {

  }
}
