.campains-new, .campains-edit {
  text-align: center;

  form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 500px;
    max-width: 100%;
  }
}

.campains {
  padding: 10px;
  text-align: center;

  .panel {
    border-color: $color-1;

    thead td {
      font-weight: bold;
      background: $color-3;
    }


    td:not(:last-child) {
      border-right: 1px solid $color-1;
    }

    td.actions {
      >:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .fa {
    font-size: 30px;
    color: $color-1;

    &.fa-plus-circle {
      font-size: 50px;
      margin-bottom: 5px;

      &:hover {
        color: $color-3;
      }
    }

    &.fa-clock-o {
      color: orange;
    }

    &.fa-check-circle {
      color: green;
    }

    &.fa-warning {
      color: red;
    }

    &.fa-question-circle {
      color: darkred;
    }

    &.fa-trash {
      &:hover {
        color: $color-3;
      }
    }
  }
}
