.campains-new, .campains-edit {
  text-align: center;
  background: $color-4;

  form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 500px;
    max-width: 100%;
  }
}

.campains {
  background: $color-4;
  padding: 10px;
  text-align: center;

  .panel {
    border-color: $color-1;
    border-radius: 16px;

    .panel-heading {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    thead td {
      font-weight: bold;
      background: $color-3;
    }

    td:not(:last-child) {
      border-right: 1px solid $color-1;
    }

    td.returned {
      width: 50px;
    }

    td.actions {
      >:not(:last-child) {
        margin-right: 10px;
      }

      .fa:hover {
        color: $color-3;
      }
    }
  }

  .fa {
    font-size: 30px;
    color: $color-1;

    &:hover {
      color: $color-3;
    }

    &.fa-plus-circle {
      font-size: 50px;
      margin-bottom: 5px;
    }

    &.fa-clock-o {
      color: orange;

      &:hover {
        color: orange;
      }
    }

    &.fa-check-circle {
      color: green;

      &:hover {
        color: green;
      }
    }

    &.fa-warning {
      color: red;

      &:hover {
        color: red;
      }
    }

    &.fa-question-circle {
      color: darkred;

      &:hover {
        color: darkred;
      }
    }
  }

  .actions {

  }
}
