.dashboard {
  .location {
    margin: 10px 0px;
    text-align: center;
  }

  .empty-result {
    margin-top: 10px;
  }

  .time {
    text-align: center;

    input:first-child {
      text-align: right;
    }
  }

  ul.total {
    text-align: center;
    list-style: none;
  }
}
