.home {
  width: 100%;
  padding: 20px;

  .chart-wrapper {
    background: $color-4;

    p {
      padding: 20px;
      font-size: 20px;
    }
  }

  .container-fluid {
    margin-top: 20px;
    padding: 0;

    .row {
      margin: 0;

      .col-xs-3 {
        display: flex;
        padding: 20px;

        span {
          width: 100%;
          padding: 10px;
          text-align: center;

          p {
            font-weight: bold;
            font-family: Arial;
          }
        }

        img {
          height: 80px;
          width: 80px;
          max-height: 40%;
          max-width: 40%;
        }

        &:not(:last-child) {
          border-right: 20px solid $color-7;
        }
      }
    }

    .column {
      background: $color-4;
      padding: 0;
    }

    .tips {
      border-left: 20px solid $color-7;
      padding: 20px;
    }

    .current-campaign {
      padding: 20px;
    }

    .row:first-child {
      border-bottom: 20px solid $color-7;
    }
  }
}
