.home {
  width: 100%;
  padding: 20px;

  .chart-wrapper {
    background: $color-4;
    box-shadow: 0 0 3px #787878;

    p {
      padding: 20px;
      font-size: 20px;
    }
  }

  section.bottom {
    display: flex;
    margin-top: 20px;

    .left-wrapper {
      width: 70%;

      .stats-wrapper {
        display: flex;

        .stat-square {
          width: 33%;
          box-shadow: 0 0 3px #787878;
          background: $color-4;
          height: 100px;
          display: flex;

          img {
            height: 44px;
            width: 44px;
            margin-top: auto;
            margin-left: 20px;
            margin-bottom: auto;
          }

          span {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            width: 100%;
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }

    .tips {
      width: 30%;
      margin-left: 20px;
      background: $color-4;
    }

    .current-campaign {
      margin-top: 20px;
      background: #A6DBFD;
    }
  }

  .tips, .current-campaign {
    padding: 20px;
    box-shadow: 0 0 3px #787878;
  }
}
