.menu {
  background: $color-1;
  margin: 0;
  padding: 0;
  height: 50px;

  .logo {
    position: absolute;
    pointer-events: none;
    height: 50px;
    width: 100%;

    img {
      display: block;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      opacity: 0.5;
    }
  }

  i.fa {
    line-height: 50px;
    font-size: 30px;
    margin: 0 10px;
    color: $color-4;
  }

  i.fa:hover {
    color: $color-3;
  }

  a.active i.fa {
    color: $color-3;
  }

  i.fa.fa-bars {
    float: left;
    margin-left: 10px;
  }

  .btn {
    float: right;
    margin: 10px;
    height: 30px;
    line-height: 15px;

    span {
      vertical-align: middle;
    }
  }

  span.email {
    float: right;
    line-height: 50px;
    font-size: 18px;
  }
}
