.side-menu {
  background: $color-1;
  height: 100%;

  img.logo {
    width: 100%;
    padding: 15px 40px;
  }

  ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;

    li {
      height: 50px;
      line-height: 50px;

      img {
        height: 35px;
        width: 35px;
        margin-right: 10px;
      }

      span {
        margin-left: 25px;
        color: $color-4;
        pointer-events: none;
      }

      .fa {
        min-width: 50px;
        color: $color-2;
        font-size: 30px;
      }
    }

    li.active {
      border-left: 10px solid $color-2;
      background: #122C51;

      span {
        margin-left: 15px;
      }
    }
  }
}
