.side-menu {
  background: $color-1;
  height: 100%;

  img {
    width: 100%;
    padding: 15px 40px;
  }

  ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;

    li {
      height: 50px;
      line-height: 50px;
      margin-left: 20px;

      a {
        color: $color-4;
        text-decoration: none;

        &:hover, &.active {
          color: $color-3;
        }
      }

      .fa {
        min-width: 50px;
        color: $color-2;
        font-size: 30px;
      }
    }
  }
}
