.sign-in {
  margin-top: 50px;

  .form {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    h1 {
      text-align: center;
    }

    input {
      width: 100%;
    }

    > * {
      margin-bottom: 20px;
    }
  }
}
