.sign-in {
  background: $color-3;
  width: 100%;

  form {
    border-radius: 12px;
    background: $color-4;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 100%;
    padding: 10px 30px;

    p {
      text-align: center;
      color: gray;
    }

    p:nth-of-type(1) {
      font-size: 18px;
    }

    img {
      width: 100%;
      padding: 10px 20px;
    }

    .form-group {
      padding: 5px;
      width: 100%;
      display: flex;

      i {
        font-size: 25px;
        width: 30px;
        color: $color-2;
      }

      input {
        width: 100%;
      }
    }

    .btn {
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
