.sign-in {
  display: flex;
  align-items: center;
  height: 100vh;



  form {
    text-align: center;
    border-radius: 12px;
    background: $color-4;
    margin: auto;
    padding: 10px 30px;

    .name {
      padding-top: 20px;
    }

    p {
      font-size: 26px;
    }

    p:nth-of-type(2) {
      font-size: 20px;
      margin-bottom: 10px;
    }

    img.logo {
      width: 80%;
      padding: 20px 30px;
    }

    img.icon {
      height: 30px;
      width: 30px;
    }

    .form-group {
      width: 100%;
      display: flex;

      i {
        font-size: 25px;
        width: 30px;
        color: $color-2;
      }

      input {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        border-top: none;
        border-left: none;
        border-right: none;
      }

      input:focus {
        outline: none;
        border-bottom: 1px solid $color-2;
      }
    }

    .btn {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
