.stats {
  display: flex;
  background: $color-7;

  .left {
    width: 60%;
    padding: 20px;

    .stats-wrapper {
      display: flex;

      .stat-square {
        width: 25%;
        height: 100px;
        display: flex;
        background: $color-4;
        box-shadow: 0 0 3px #CCCCCC;

        &:not(:last-child) {
          margin-right: 10px;
        }

        img {
          height: 44px;
          width: 44px;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px;
        }

        span {
          font-size: 14px;
          text-align: center;
          width: 100%;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }

    .data-chart {
      margin-top: 20px;
      background: $color-4;
      box-shadow: 0 0 3px #CCCCCC;
    }
  }

  .right {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    .data-chart {
      background: $color-4;
      box-shadow: 0 0 3px #CCCCCC;

      &:last-child {
        margin-top: 20px;
      }
    }
  }
}
