.top-menu {
  background: $color-4;
  border-bottom: 1px solid $color-3;
  margin: 0;
  padding: 0;
  height: 60px;

  i.fa {
    line-height: 60px;
    font-size: 30px;
    margin: 0 15px;
    color: $color-2;
  }

  .location {
    float: left;
  }

  .btn {
    float: right;
    margin: 10px;
    height: 40px;
    line-height: 25px;

    span {
      vertical-align: middle;
    }
  }
}
