.top-stripe {
  background: $color-3;
  margin: 0;
  padding: 0;
  height: 50px;

  i.fa {
    line-height: 50px;
    font-size: 30px;
    float: right;
    margin-right: 30px;
  }

  i.fa.fa-bars {
    float: left;
    margin-left: 10px;
  }

  .btn {
    float: right;
    height: 40px;
    margin: 5px;

    span {
      vertical-align: middle;
    }
  }
}
