.top-menu {
  background: $color-4;
  border-bottom: 1px solid $color-3;
  margin: 0;
  padding: 0;
  height: 60px;

  i.fa {
    line-height: 60px;
    font-size: 30px;
    margin: 0 15px;
    color: $color-2;
  }

  i.fa:hover {
    color: $color-3;
  }

  a.active i.fa {
    color: $color-3;
  }

  i.fa.fa-bars, .location {
    float: left;
    margin-left: 10px;
  }

  .btn {
    float: right;
    margin: 10px;
    height: 40px;
    line-height: 25px;

    span {
      vertical-align: middle;
    }
  }

  span.email {
    float: right;
    line-height: 50px;
    font-size: 18px;
  }
}
