.top-menu {
  background: $color-4;
  border-bottom: 1px solid lightgray;

  img.location-icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }

  .location {
    height: 100%;
    padding-top: 20px;
    float: left;
    margin-left: 10px;
  }

  .btn {
    margin: 10px;
    height: 40px;
    line-height: 25px;
    float: right;

    span {
      vertical-align: middle;
    }
  }
}
