.visitors {
  .location {
    text-align: center;
    margin: 10px 0px;
  }

  ul.visitors-list {
    list-style: none;
    padding: 0;
  }

  .empty-result {
    margin-top: 10px;
  }

  .visitor-info {
    border: 3px solid $color-1;
    border-radius: 8px;
    margin: 5px;
    padding: 0;

    >div {
      padding: 5px;

      span {
        margin-right: 5px;

        i.fa-phone {
          color: green;
        }

        i.fa-envelope {
          color: $color-1;
        }
      }

      span.phone-number {
        color: $color-2;
      }

      span.unknown {
        color: gray;
      }

      span.social-kind {
        font-size: 30px;
      }
    }
  }

  ul.social-networks-list {
    list-style: none;
    padding: 0;
  }
}
