.visitors {
  text-align: center;

  .location {
    margin: 10px 0px;
  }

  .empty-result {
    margin-top: 10px;
  }

  .column {
    padding: 0px;
    margin: 0px;
  }

  .panel {
    margin: 10px;
  }

  .table td {
    text-align: left;
  }
}
