{{#if phones}}
  <div class="panel panel-info">
    <div class="panel-heading">
      Total: {{phones.length}}
    </div>
    <table class="table">
      <tbody>
        {{#each phones as |phone|}}
          <tr>
            <td class="unselectable">{{phone}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  {{empty-result}}
{{/if}}
