.social-info {
  border: 2px solid $color-1;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;

  .container-fluid {
    padding: 0px;

    .column {
      height: 50px;
      text-align: center;

      span {
        &.social-kind {
          font-size: 30px;
        }

        line-height: 50px;
      }
    }
  }
}
