.icon {
  vertical-align: middle;
  display: inline-block;
}

.icon-25 {
  height: 25px;
  width: 25px;
}

.icon-35 {
  height: 35px;
  width: 35px;
}

.icon-44 {
  height: 44px;
  width: 44px;
}

.icon-nav {
  margin-right: 10px;
}
