//Colors (global)
$c-theme-1:  #0E2341;  //deep-dark-blue
$c-theme-2:  #122C51;  //dark-blue
$c-theme-3:  #2B86C7;  //blue
$c-theme-4:  #94C2E3;  //light-blue
$c-theme-5:  #A5AFC4;  //dark-gray
$c-theme-6:  #F3F3F3;  //light-gray


$white:      #FFFFFF;  //white
$black:      #000000;  //black


$c-link:     #039;     //link color
$c-hover:    #03F;     // hover color
