<select onchange={{action "selectLocation" value="target.value"}}>
  {{#each locations as |location|}}
    <option value={{location.id}} selected={{eq location.id location_id}}>
      {{location.name}}
    </option>
  {{/each}}
</select>
