<div class="menu">
  <img src="images/logo.png">
  <div class='menu-item'>
    {{#link-to 'dashboard'}}
      <span class="icon">
        {{fa-icon 'home'}}
      </span>
      <span>
        Dashboard
      </span>
    {{/link-to}}
  </div>
  <div class='menu-item'>
    {{#link-to 'visitors'}}
      <span class="icon">
        {{fa-icon 'users'}}
      </span>
      <span>
        Visitors
      </span>
    {{/link-to}}
  </div>
</div>
