<div class="side-menu col-xs-3 col-md-2">
  <img class="logo" src="images/logo.png" />
  <ul>
    <li route="home" class="active" onclick={{action 'selectSideMenuItem'}}>
      <span>
        <img src="images/home/home.svg">
        Home
      </span>
    </li>
    <li route="stats" onclick={{action 'selectSideMenuItem'}}>
      <span>
        <img src="images/home/stats.svg">
        Statistics
      </span>
    </li>
    <li route="campaigns" onclick={{action 'selectSideMenuItem'}}>
      <span>
        <img src="images/home/campaigns.svg">
        Campaigns
      </span>
    </li>
  </ul>
</div>
