<div class="side-menu col-xs-3 col-md-2">
  <img class="logo" src="images/logo.png" />
  <ul class="nav">
    <li class="nav-item" route="home" class="active" onclick={{action 'selectSideMenuItem'}}>
      <span>
        <img class="icon icon-35 icon-nav" src="images/home/home.svg">
        Home
      </span>
    </li>
    <li class="nav-item" route="stats" onclick={{action 'selectSideMenuItem'}}>
      <span>
        <img class="icon icon-35 icon-nav" src="images/home/stats.svg">
        Statistics
      </span>
    </li>
    <li class="nav-item" route="campaigns" onclick={{action 'selectSideMenuItem'}}>
      <span>
        <img class="icon icon-35 icon-nav" src="images/home/campaigns.svg">
        Campaigns
      </span>
    </li>
  </ul>
</div>
