<div class="side-menu">
  <img src="images/logo.png" />
  <ul>
    <li>{{fa-icon 'home'}}{{#link-to 'home'}}Home{{/link-to}}</li>
    <li>{{fa-icon 'bar-chart'}}{{#link-to 'stats'}}Statistics{{/link-to}}</li>
    <li>{{fa-icon 'comment'}}{{#link-to 'campains'}}SMS campains{{/link-to}}</li>
  </ul>
</div>
